<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-autowire="byName">

    <bean id="age" class="java.lang.Integer">
        <constructor-arg type="int" value="10"/>
    </bean>
    <bean id="name" class="java.lang.String">
        <constructor-arg type="java.lang.String" value="yanglikun"/>
    </bean>

    <bean id="person" class="com.example.demo.spring.Person">
        <property name="name">
            <ref bean="name"></ref>
        </property>
    </bean>
    <bean class="com.example.demo.spring.PersonPostProcessor"></bean>
    <bean id="personString" class="com.example.demo.spring.PersonFactoryBean"></bean>

</beans>